* {
    box-sizing: border-box;
}
/*img {
    width: 100%;
}*/

header .col-logo {
    padding-top: 20px;
}

.navigation {
    background: black;
    color: white;
    font-size: 24;
    font-weight: bold;
}

.navigation .nav-list > li {
    padding: 10px;
}

.nav-list > li:hover {
    background: rgb(266,0,123);
    padding: 10 10 20 10;
}

.nav-list > li > a {
    color: white;
    list-style-type: none;
}

.nav-list > li > .social-icons > img {
    padding: 10px;
}

main {
    background: url(../img/background.jpg);
    background-size: cover;
    padding: 50px;
}

.info-main h3 {
    color: rgb(266,0,123);
}

.info-main h1 {
    color: white;
    font-size: 70px;
}

.verbs-main {
    color: white;
    font-size: 50px;
}